body{
	background: #1C1E2E;
}

.navbar{
	display: flex;
	align-items: center;
	background: #1C1E2E;
	color: #fff;
	font-size: 10px;
}

.icon{
	width: 30px;
	height: 30px;
	padding: 0 15px;
}

.container {
	display: flex;
	flex-direction: column;
}

.container__videoBox{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #1C1E2E;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	background: #fff; 
 

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: flex;
	justify-content: center;
	align-content: center;

}

.videoBox{
	border: 2px solid transparent;
	border-radius: 15px;
	width: 300px;
	padding: 0 10px;
}

.caller {
	text-align: center;
	color: #fff;
}
